*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #F2F2F2;
    
}
.section-first{
   width: 100%;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: 275;
    line-height: 3.6rem;
    letter-spacing: 0.01666666716337204rem;
    text-align: center;
    color: #4D4F62;
    
}
.header{
    margin: 8.5rem 3.9rem 0rem 3.9rem;
}
.bold{
    font-family: 'Poppins', sans-serif;
font-size: 2.4rem;
font-weight: 600;
line-height: 3.6rem;
letter-spacing: 0.01666666716337204rem;
text-align: center;
color: #4D4F62;

}
.paragraph{
    font-family: 'Poppins', sans-serif;
font-size: 1.5rem;
font-weight: 400;
line-height: 2.5rem;
letter-spacing: 0.01041666641831398rem;
text-align: center;
color: #4D4F62;
opacity: 50%;
}
.p-header{
    margin:1.3rem 3.2rem 0rem 3.2rem;
}
.first,
.second,
.third,
.fourth{
    width: 31.1rem;
    height: 22.2rem;
    border-radius: 0.8rem;
    background-color: white;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.first{
    border-style: solid;
    border-top-color:#44D3D2;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 0.355rem;
    margin: 0 auto;
    margin-top: 7.6rem;


}
.second{
    border-style: solid;
    border-top-color: #EA5454;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 0.355rem;
    margin: 0 auto;
    margin-top: 2.5rem;
}

.third{
    border-style: solid;
    border-top-color: #FCAE4A;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 0.355rem;
    margin: 0 auto;
    margin-top: 2.3rem;
    

}

.fourth{
    border-style: solid;
    border-top-color:  #549EF2;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 0.355rem;
    margin: 0 auto;
    margin-top: 2.4rem;
    margin-bottom: 7.8rem;
    
}
h2{
    font-family: 'Poppins', sans-serif;
font-size: 2rem;
font-weight: 600;
line-height: 3rem;
letter-spacing: 0rem;
text-align: left;
color: #4D4F62;

}

p{
    font-family: Poppins;
font-size: 1.3rem;
font-weight: 400;
line-height: 2.3rem;
letter-spacing: 0.00902777761220932rem;
text-align: left;
opacity: 0.5;
color: #4D4F62;


}
article{
    margin: 2.345rem 2.8rem 0rem 2.9rem;
}
img{
    margin-left: 22.6rem;
    margin-top: 3.3rem;
}